<html ng-app="alphaApp">
  <head>
    <meta charset="utf-8">
    <title>Call Sign</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
    
      var alphaApp = angular.module('alphaApp', []);
      alphaApp.controller('AlphaCtrl', ['$scope', '$http', function (scope, http){
        http.get('alpha.json').success(function(data) {
          scope.countries = data;
        });
      }]);
    </script>
  </head>
  <body ng-controller="AlphaCtrl">
    <table>
      <tr>
        <th>Enter Name here:</th>
        <th><input ng-model="name" type="text"/></th>
      </tr>
      <tr ng-repeat="country in countries">
        <td>{{country.alphabet}}</td>
        <td>{{country.value}}</td>
      </tr>
    </table>
  </body>
